<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Reference</th>
        <th>Beneficiary</th>
        <th>User</th>
        <th>Email</th>
        <th>Amount from</th>
        <th>Amount to</th>
      </tr>
    </thead>
    <tbody>
      <%= payments.map{ |p| erb :_payment_list_item, {locals: p}}.join %>
    </tbody>
  </table>
</div>
