<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@latest"></script>
  </head>
  <body>
    <h1>HTMX + Sinatra Demo </h1>
      <button class="bg-blue-500 p-2 m-2" hx-get="/greetings" hx-target="#greetings" hx-swap="innerHTML">
        Click me
      </button>
    <div class="bg-blue-500 text-white p-4" id="greetings"></div>
  </body>
</html>